html,body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
#root {
  min-height: 100%;
}
@media  screen  and (min-width: 640px) {
  #root {
      height: 100%;
  }
}